* {
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
}

#title {
    font-size: 45px;
    width: 500px;
    height: 70px;
    padding: 20px;
    display: flex;
    align-items: center;
    border: 1px solid;
    box-shadow: 2px 2px 5px;
}

.intro {
    height: 35px;

}

.content { 

}

ul {
    display:flex;
    gap: 20px;
    list-style-type: none;
}
li {
    border: 2px solid black;
    padding: 3px;
}

.flex-container {
    display: flex;
}

.flex-container > div {
    background-color: rgba(127, 107, 192, 0.673);
    border: 2px solid black;
    height: 40px;
    flex: 1 1 0%;
    text-align: center;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
}

body {
    
}